$primary: #895129;
$font-family-sans-serif: 'Roboto', sans-serif;

body {
    font-family: $font-family-sans-serif;
}

.hero {
    padding: 100px 0;
    background-color: #ffffff;
}

.btn-custom {
    background-color: $primary;
    border: none;

    &:hover {
        background-color: $primary;
    }
}

.btn-custom:focus {
    outline: 2px solid #895129;
    outline-offset: 2px;
}

.features {
    text-align: center;
    margin-bottom: 400px !important;
    h2 {
        color: $primary;
        font-weight: 800;
    }

    .feature-icon {
        width: 80px;
        height: 80px;
        margin-bottom: 15px;
    }

    h4 {
        color: #333;
        font-weight: 600;
    }

    p {
        font-weight: 400;
        color: #666;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }

    .hero img {
        margin-top: 20px;
    }
}

